@import url(/common/header.css);
@import url(/common/footer.css);
@import url(/common/fonts.css);
@import url(/common/global.css);
@import url(/common/variables.css);
/* ----------------------------------------------------------- */


.content-container{
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
} 


.content-container a{  
    text-decoration: none;
    color: black;
}

.content-container a:hover  {
    text-decoration:underline;
}



/* 왼쪽사이드 */
.leftSide {
    flex-basis : 15%;
    /* background-color:aqua; */
}

/* 가운데메인영역 */
.center {
    flex-basis : 70%;
    display: flex;
    flex-direction: column;
    /* background-color:pink; */
}

/* 오른쪽사이드 */
.rightSide {
    flex-basis : 15%;
    padding: 5px;
    /* position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center; */
    /* background-color:green; */
 
}





/* -------------------- 오른쪽 사이드 영역 --------------------  */

/* 인체사진 */
#people {
    width: 100px;
    height:300px;
    padding: 50px 0px 40px 0px;
    /* position: absolute; */
}



/* 홈페이지 탑버튼 */
#topBtn{
	position: fixed;
	right: 90px;
    /* left : 25px; */
	bottom: 25px;
	display: none;
	z-index: 9;
}



/* 인체사진 플로팅바 */
.floating {
    position: fixed; 
    right: 50%; 
    top: 180px; 
    margin-right: -720px;
    text-align:center;
    width: 120px;
  }



/* -------------------- 컨텐트 가운데 영역  ---------------- */


/* 1. 메인페이지 슬라이드 영역 */
.center > section:nth-child(1) {
    flex-basis: 20%;
    padding: 50px 0px 40px 0px;
    /* height: 300px; */
    /* background-color:aquamarine; */

} 


/* 
#mainPhoto {
    width: 100%;
    height: 400px;
    height: 50vh;
    object-fit: cover;
} */


/* 2. 베스트 영역 */
.center > section:nth-child(2) {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    /* background-color:steelblue; */
}




/* 3. 신제품 영역 */
.center > section:nth-child(3) {
    flex-basis:15%;
    /* background-color: rgb(146, 146, 185); */

}



/* 4. 제품 영역 */
.center > section:nth-child(4) {
    flex-basis: 50%;
    /* background-color: salmon; */

}




/* ---------------- 가운데 공통 영역 --------------------- */


/* (베스트.신제품. 제품) 메뉴이름 */
.mainFont {
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid grey;
}



/* (베스트.신제품) 더보기 영역 */
.more {
    align-items: center;
    text-align: right;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid grey;
    margin: 10px 0px 40px 0px;
    /* background-color:darkslateblue; */
}  


/* 베스트, 신제품 1,2,3,4 */
.BNitem {
    display:flex;
    flex-basis:25%;
    height: 270px;
    padding: 15px;  
    flex-direction: column;
    /* position : relative; */
    /* align-items: center; */
    /* justify-content: center; */
}



/* 베스트, 신제품 사진 영역 */
.BNitemPic {
    flex-basis: 70%;
    border: 1px solid rgb(181, 181, 181);
    align-items: center;
    justify-content: center;
    /* object-fit: contain; */
    width: 230px;
    height: 180px;
    /* background-color:blue; */
    /* width: 100%;
    height: 100%; */
}


/* 베스트, 신제품 사진 */
.BNitemPic img{
    width: 100%; 
    height: 100%;
    /* margin: auto; */
    object-fit: contain;
    /* width: 200px;
    height: 170px; */
    /* height: 170px; */
    /* align-items: center;
    justify-content: center; */
}


/* 베스트, 신제품명 글씨 */
.BNitemName{
    /* flex-basis: 18%; */
    padding: 5px;
    font-size: 12px;
    /* text-decoration: underline; */
    /* background-color: purple; */
}




/* 베스트, 신제품 가격 글씨 */
.BNitemPrice{
    flex-basis: 12%;
    font-size: 15px;
    text-align: left;
    color:brown;
    padding: 5px;
    /* background-color: red; */
} 




/* (제품) 더보기 영역 */
.itemMore {
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    /* border-top: 1px solid grey; */
    margin: 60px 0px 80px 0px;
    /* background-color:darkslateblue; */
}  

/* 더보기 화살표 아이콘 */
#allow {
    padding: 0px 0px 0px 10px;
}


/* #cart {
    height: 200px;
} */



/* 제품이름 글씨 효과 */
.BNitemName a:hover , .itemName a:hover {
    text-decoration: underline;
}



.BNitemPic a {
    /* display: inline-block; */
    width: 100%;
    text-decoration: none;
    /* margin: 0px; */
}

.BNitemPic > figure > a {
    position: relative;
    overflow: hidden;
}

/* 글씨가 아래서 내려올 때 효과정도(?) */
figure figcaption {
    position: absolute;
    bottom: 100%;
    left: 0px;
    z-index:-2;
    color: black;
    font-size: 26px;
    text-align: center;
}


figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;

}

figure:hover img {
    transform: scale(1.0, 1.0);
    transition: all .5s ease;
    opacity: 0.15;
}

/* 호버시 글씨 내려올 때 위치 */
figure:hover figcaption {
    bottom: 30%;
    opacity: 1;
    transition: all .5s ease;
} 



/* 이미지 위에 글씨 */
/* figure {
    transition: opacity 0.2s;
    position: relative;
    margin: 0;
    max-width: 100%;
}

figure img {
    width: 100%;
}

figure figcaption {
    color: #fff; 
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all .3s ease;
}

figure .BNitemPic {
    opacity: 1;
    transition: all 0.5s ease 0s;
    overflow: hidden
}

figure:hover .BNitemPic {
    background-color: #000;
}

figure:hover img {
    transform: scale(1.1, 1.1);
    transition: all .3s ease;
    opacity: 0.15;
}

figure:hover figcaption {
    opacity: 1;
    transition: all .3s ease;} */


    /* .BNitemPic a{
        display: block;  영역적용위해 사용 
        width: 100%; height: 100%;
      
        overflow: hidden;
      
        position: relative;  absolute의 기본기준은 body로 처리 - 현재 요소로 기준변경 
      }
      
    .BNitemPic figure{
        width: 100%;
        height: 100%;
    } */



    /* .BNitemPic figcaption{
        width: 100%; 
        height: 150px;
        width: 100px; height: 100px;
        width: 100%; height: 50px;
        background-color: rgba(0,0,0,0.7);
        
      
        display: flex;
         이미지와 겹치게 처리
        top:0; left: 0;
      
        color: #fff; 
        text-align: center; 
        line-height: 200px;
      
        opacity: 0; 처음엔 안보이고
      
        transition: 0.8s;
    } */
      
    /* .BNitemPic a:hover figcaption, .BNitemPic a:focus figcaption{
        마우스를 올리면 보이게 처리
        opacity: 1;
      } */





/* --------------------------------------------------- */





/* ================ 1. 메인페이지 슬라이드 영역 ==============*/


      
li {
    list-style: none;
}       
 
  
#visual {
    position: relative;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    z-index : -5; 
}
  
  
#visual > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    opacity: 0;
}

#visual>div.on{
    opacity: 1;
}

#control { 
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;         
}

#control a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f6f5f5;                       
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 2px;
}
  
#control a.on {
    background: #9ab3f5;
}






/* =============== 2.베스트 영역 ================= */

    /* 2-1 베스트글씨 .bestFont */
    .bestPart > div:nth-child(1) {
        display:flex;  
        flex-basis: 15%;
        /* background-color: skyblue; */
    }

 
    /* 2-2 베스트제품 .bestItem */
    .bestPart > div:nth-child(2) {
        display:flex;   
        flex-basis: 70%;
        /* vertical-align: top; */
        /* flex-direction: row; */
        /* background-color:thistle; */
    

    }

    /* 2-3 베스트제품더보기 .bestMore */
    /* .bestPart > div:nth-child(3) {
        display: flex;  
        flex-basis: 15%; */
        /* flex-direction: row; */
        /* background-color: mediumaquamarine;
    }




/* ================== 3. 신제품 영역 ===================== */


 /* 3-1 신제품 글씨 .newFont */
.newPart > div:nth-child(1) {
    display:flex;  
    flex-basis: 15%;
    /* background-color: skyblue; */
}


/* 3-2 신제품 . newItem */
.newPart > div:nth-child(2) {
    display:flex;   
    flex-basis: 70%;
    /* flex-direction: row; */
    /* background-color:thistle; */

}

/* 3-3 신제품더보기 .newtMore */
/* .newPart > div:nth-child(3) {
    display: flex;  
    flex-basis: 15%; 
    flex-direction: row;
     background-color: mediumaquamarine;
} */






/* =============== 4  제품영역 =================== */



 /* 4-1 제품글씨 .itemFont */
.itemPart > div:nth-child(1) {
    display:flex;  
    flex-basis: 15%;
    /* background-color: skyblue; */
}



/* 4-2 제품모음 .itemGather */
.itemPart > div:nth-child(2) {
    /* display:flex;    */
    /* flex-basis: 85%;  */
    flex-direction: row;
    /* background-color:thistle; */
}



/* 4-3 제품더보기 .itemMore */
/* .itemPart > div:nth-child(3) {
    display: flex;  
    flex-basis: 15%; 
    flex-direction: row;
     background-color: mediumaquamarine;
} */





/* 제품 1~3 .itemFirst */
.itemGather > div:nth-child(1) {
    flex-basis:33.3%;
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center; 
    /* background-color: orange; */
}

/* 제품 4~6 .itemSecond */
.itemGather > div:nth-child(2) {
    flex-basis:33.4%;
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    /* background-color:yellow; */
}

/* 제품 7~9 .itemThird*/
.itemGather > div:nth-child(3) {
    flex-basis:33.3%;
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    /* background-color: green; */
}

    /* 제품 1 ~ 9 영역 */
    .item {
        flex-basis:33.33%; 
        height: 270px; 
        padding: 10px; 
        display:flex;  
        flex-direction: column; 
    }




    /* 제품사진 영역 */
    .itemPic {
        flex-basis:70%;
        border: 1.5px solid rgb(181, 181, 181);
        align-items: center;
        justify-content: center;
        width: 330px;
        height: 200px;
        /* background-color:blue; */
        /* width: 100%;
        height: 100%; */
    }

    /* 제품 사진 */
    .itemPic img{
        width: 100%; 
        height: 100%;
        object-fit: contain;
    }



    /* 제품설명글씨 */
    .itemName {
        flex-basis:18%;
        padding: 5px;
        text-align : left;
        font-size: 12px;
        /* background-color: orange; */
    }


    /* 제품가격글씨 */
    .itemPrice {
        flex-basis:12%;
        font-size: 15px;
        text-align : left;
        color:brown;
        padding: 5px;
        /* background-color: yellow; */
    }


