@import url(/common/header.css);
@import url(/common/footer.css);
@import url(/common/fonts.css);
@import url(/common/global.css);
@import url(/common/variables.css);
/* ----------------------------------------------------------- */

#header {
    text-decoration: bold;
    text-align: center;
    font-size: 30px;
}

/* 3/14 100% -> 1500px; 수정 */
#wrapper {
    position: relative;
    height: 1500px;
}

/* transform? 체크 */
#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

/* <-------------------------------------> */

input:focus {
    outline: none;
}

/* 패딩 오토로 바꿔줬고, border 블랙으로 박스 할지 말지 결정 */
.box {

    display: block;
    width: 100%;
    height: 50px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 6px;
    padding: auto;
    box-sizing: border-box;
    background-color: white;
    position: relative;
}

/* display inline-block??  */
.int {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 45px;
    border: none;
    background-color: white;
    border-radius: 6px;
    font-size: 15px;
    text-align: left;
}

/* 수정 */
.box {
    border-radius: 6px;
    width: 470px;
    height: 50px;
    padding-right: 10px;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    cursor: pointer;
}



/* 에러메세지 js 작성 후 재작성 */

/* 버튼 */


#cert {
    margin: 6px;
    width: 80px;
    padding: 10px;
    border: 10px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    background-color: #2678F3;
    cursor: pointer;
}

#cert2 {
    margin: 6px;
    width: 80px;
    padding: 10px;
    border: 10px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    color: black;
    background-color: #D9D9D9;
    cursor: pointer;
}

#cert3 {
    margin: 0%;
    width: 80px;
    padding: 3px;
    border: 3px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    background-color:#D9D9D9;
    cursor: pointer;
}

#cert4 {
    margin: 0%;
    width: 80px;
    padding: 3px;
    border: 3px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    background-color:#D9D9D9;
    cursor: pointer;
}

#cert5 {
    margin: 0%;
    width: 80px;
    padding: 3px;
    border: 3px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    background-color:#D9D9D9;
    cursor: pointer;
}

#cert6 {
    margin: 0%;
    width: 80px;
    padding: 3px;
    border: 3px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    background-color:#D9D9D9;
    cursor: pointer;
}

/* 3/14 padding 15px 주석처리 */
#btnSignup {
    margin: 5%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    /* padding: 15px; */
    border: 10px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: #2678F3;
    cursor: pointer;
}

.login_btn2 {
    width: 100%;
    height: 50px;
    margin: 10px 0px 30px 0px;
    color: white;
    background-color:yellow;
    color: black;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}