:root {
    --primary-color-btn: "#2678F3";

    /* 폰트 사이즈 */
    --font-size-x-small: 12px;
    --font-size-small: 13px;
    --font-size-medium: 14px;
    --font-size-large: 15px;
    --font-size-x-large: 16px;

    /* 폰트 두께 */
    --font-weight-bold: 700;

    /* 배경 색상 */
    --bg-color-white: white;
    
    --border-radius: 3px;
}
/* ----------------------------------------------------------------------- */













/* ----------------------------------------------------------------------- */